<br><br><br>

<div class="row" data-aos="zoom-in">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <h2> <span >Editar Empleado</span>

        </h2>
    </div>

    <div class="card-body reset-table p-t-0">

    <form [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">



              <div class="form-group row">
                <div class="col-sm-6">
                  <input  type="text" placeholder="Nommbre" class="form-control" formControlName="nombre">

                <ng-container *ngFor="let validation of validation_messages.nombre">
                  <div class="alert-danger"  *ngIf="exampleForm.get('nombre').hasError(validation.type) && (exampleForm.get('nombre').dirty || exampleForm.get('nombre').touched)">{{validation.message}} </div>
                </ng-container>
                </div>
              <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label" style="margin-right: 30px;">Area</label>
                <mat-button-toggle-group #group="matButtonToggleGroup"  name="fontStyle" aria-label="Font Style" (change)="onChangeArea(group.value)" formControlName="area" [(ngModel)]="selectedVal">
                  <mat-button-toggle class="icon-inner" value="Administratíva">Administratíva</mat-button-toggle>
                  <mat-button-toggle class="icon-inner" value="Tecnología">Tecnología</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

              <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
                <input placeholder="Fecha de Nacimiento"
                      formControlName="fechanacimiento"
                      type="date"
                      value={{fechaedad}}

                      class="form-control"
                      (change)="this.CalculateAge2()">
              </div>
              <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Cargo</label>
                <select class="custom-select"  id="cargo" (change)="changeCargo($event)" formControlName="cargo">
                  <option value="" disabled>Selecciona el cargo</option>
                  <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo}}</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Pais</label>
                <select class="custom-select" (change)="changePais($event)" formControlName="pais">
                  <option value="" disabled>Selecciona un Pais</option>
                  <option *ngFor="let pais of paises" [ngValue]="pais">{{pais}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="exampleFormControlInput1" class="form-label" disabled>% Comision</label>
              <input placeholder="Comision"
                      formControlName="comision"
                      type="number"
                      id="comision"
                      class="form-control">
            </div>
            <div class="col-sm-6">
              <label for="exampleFormControlInput1" class="form-label">Nombre usuario</label>
                <input  type="text" placeholder="Usuario" class="form-control" formControlName="nombreusuario"  ngPattern="/^\d+$/">

              <ng-container *ngFor="let validation of validation_messages.nombreusuario">
                <div class="alert-danger" *ngIf="exampleForm.get('nombreusuario').hasError(validation.type) && (exampleForm.get('nombreusuario').dirty || exampleForm.get('nombreusuario').touched) ">{{validation.message}}</div>
              </ng-container>
           </div>
          </div>
          <div class="form-group row">
                <div class="col-sm-6">
              <label for="exampleFormControlInput1" class="form-label">Fecha Contratacion</label>
              <input placeholder=""
                    formControlName="fechacontratacion"
                    type="date"
                    class="form-control">

              </div>
              <div class="col-sm-6">
                  <input  type="number" min="0" max="100" placeholder="edad" class="form-control" value={{edad}} formControlName="edad">
                <ng-container *ngFor="let validation of validation_messages.edad">
                  <div class="alert-danger" *ngIf="exampleForm.get('edad').hasError(validation.type) && (exampleForm.get('edad').dirty || exampleForm.get('edad').touched)">{{validation.message}} </div>
                </ng-container>
              </div>
              <div class="col-sm-6">
                <label for="exampleFormControlInput1" class="form-label">Estado :</label>
                <mat-slide-toggle
                (change)="onChange($event)"
                formControlName="estado"
                [(ngModel)]="isChecked"
                >{{ isStatus }}</mat-slide-toggle>
                <!--<section>
                  {{ isChecked }}
                </section>-->
              </div>

        </div>


        <br>
        <br>
              <div class="row submit-button-container">
                <div class="col-md-4">
                  <button class="btn btn-small btn-danger margin-btm" color="warn" type="button" (click)="cancel()">Atras</button>
                </div>
                <div class="col-md-4">
                  <button  class="btn btn-success" type="submit" [disabled]="!exampleForm.valid">Guardar</button>
                </div>

              </div>
        </form>




      </div>
    </div>
  </div>
</div>
